/**/
.intro {
    margin-top: -10px;
    width:400px;
    height:300px;
}
.intro p {
    text-align: justify !important;
}
.intro h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:30px;
    margin-bottom: 25px;
}

.viscontainer, .campaigncontainer, .intro {
    align-content: center;
    float:left;
}

.viscontainer h2, .campaigncontainer h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:20px;
    text-decoration: underline;
    margin-bottom: 25px;
}

.viscontainer p, .intro p, .campaigncontainer p, .campaigncontainer table {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: #808080;
}

.campaigncontainer table {
    font-size: 13px;
}

#chart_performance .axis .domain {
    display: none;
 }

 .campaigncontainer {
     height: 350px;
     width:400px;
 }

 .campaigncontainer table {
     color: black;
     border-collapse:collapse;
 }

.campaigncontainer th {
    padding-bottom: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 14px;
}

.campaigncontainer td {
    padding: 0 15px 0 15px;
}


.big {
    width: 600px
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


.dot {
  stroke: #000;
}

.tooltip {
  position: absolute;
  width: auto;
  height: auto;
  pointer-events: none;
  background-color: white;
  border: #000 1px solid;
  opacity: 0;
}